<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script src="{{url_for('static',filename='js/search.js')}}" charset="utf-8"></script> -->
        <script src="./static/js/jquery-2.2.4.min.js" charset="utf-8"></script>
        <script src="./static/js/search.js" charset="utf-8"></script>
        <link href="./static/css/search.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Title</title>
        <style type="text/css">
            #automenu{
                top:50px;
                left: 15px;
            }
            li{
                padding: 3px;
            }
            li.active{
                background-color: #428bca;
                color: #FFF;
            }

        </style>
    </head>
    <body>
        <div id="app-cover">
            <div id="app">
                <form method="get" action="">
                    <div id="f-element">
                        <div id="inp-cover">
                            <input id='myInput' type="text" name="query" placeholder="Type something to search ..." autocomplete="off">
                        </div>
                    </div>
                    <button type="submit" class="shadow"><i class="fas fa-search"></i>
                    </button>
                </form>
                <ul class = "auto_show typeahead dropdown-menu" id ='automenu'></ul>
                <!-- <div id='result'></div> -->
            </div>
            <div id="layer" title="Click the blue area to hide the form"></div>
            <div id="init"></div>
        </div>
    </body>
</html>

<script type="text/javascript">
    $(function(){

        // $("#myInput").on("input",function(){
        //     //在输入框中打印输入的值
        //     $("#result").text($(this).val())
        // })
        $("#myInput").keyup(function (argument) {
            if($('#myInput').val()=='')
                $('#automenu').hide();
            // body...
        })
        $("#myInput").on("compositionend",function(){
            var val=$(this).val();
            console.log(val)
            val=$.trim(val);
            if(val !=""){
                 $.ajax({
                    type: 'POST',
                    url: '/get_maybe_sentence',
                    dataType: 'json',
                    data: {
                        sentence:val
                    },
                    success:function (response) {
                        pred_sentences = response.pred_sentences
                        // $('#company_name').trigger("change")
                        // console.log('pred_sentences',pred_sentences)
                        $('#automenu').empty()
                        pred_sentences.forEach(function (argument) {
                            // body...
                            // console.log('argument',argument)
                            var text = '<li>'+argument['sentence']+':'+argument['ppl_score']+'</li>'
                            $('#automenu').append(text).show()
                        })
                        $('#automenu li').click(function (el) {
                            <!--console.log(el)-->
                            console.log($(el.target).text())
                            $('#myInput').val($(el.target).text())
                            console.log($('#myInput'))
                            $('#automenu').hide()

                                // body...
                        })
                        $('#automenu li').mouseenter(function (el) {
                            $('#automenu li').removeClass('active')
                            $(el.target).addClass("active")
                            // console.log('el',el)
                            // body...
                        })
                    }
                })
            }
        })
    })

</script>
